In [1]:
import pandas as pd
df = pd.read_csv('2021_Yellow_Taxi_Trip_Data_20240406.csv')

C:\Users\Qadeer\AppData\Local\Temp\ipykernel_7976\1691626393.py:2: DtypeWarning: Columns (0,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('2021_Yellow_Taxi_Trip_Data_20240406.csv')

In [4]:
# Check the first few rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,01/01/2021 12:30:10 AM,01/01/2021 12:36:12 AM,1.0,2.10,1.0,N,142.0,43.0,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,01/01/2021 12:51:20 AM,01/01/2021 12:52:19 AM,1.0,0.20,1.0,N,238.0,151.0,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,01/01/2021 12:43:30 AM,01/01/2021 01:11:06 AM,1.0,14.70,1.0,N,132.0,165.0,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,01/01/2021 12:15:48 AM,01/01/2021 12:31:01 AM,0.0,10.60,1.0,N,138.0,132.0,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,01/01/2021 12:31:49 AM,01/01/2021 12:48:21 AM,1.0,4.94,1.0,N,68.0,33.0,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
# Examine the column names and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5179671 entries, 0 to 5179670
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               object
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           float64
 8   DOLocationID           float64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(14), object(4)
memory usage: 711.3+ MB

In [7]:

# Summarize the numerical features
df.describe()

,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,4.855148e+06,5.179666e+06,4.855148e+06,5.179666e+06,5.179666e+06,4.855148e+06,5.179666e+06,5.179666e+06,5.179666e+06,5.179666e+06,5.179666e+06,5.179666e+06,5.179666e+06,5.179666e+06
mean,1.407343e+00,4.263697e+00,1.032661e+00,1.659054e+02,1.621669e+02,1.271357e+00,1.218247e+01,1.042508e+00,4.931322e-01,1.940447e+00,2.343553e-01,2.969693e-01,1.766403e+01,2.154769e+00
std,1.043737e+00,3.811088e+02,5.714004e-01,6.776109e+01,7.176997e+01,4.866569e-01,1.755228e+02,1.250072e+00,7.597929e-02,2.421502e+00,1.407717e+00,4.205539e-02,1.756358e+02,8.910088e-01
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-6.310000e+02,-5.500000e+00,-5.000000e-01,-1.000000e+02,-3.802000e+01,-3.000000e-01,-6.348000e+02,-2.500000e+00
25%,1.000000e+00,1.000000e+00,1.000000e+00,1.250000e+02,1.070000e+02,1.000000e+00,6.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.100000e+01,2.500000e+00
50%,1.000000e+00,1.700000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.860000e+00,0.000000e+00,3.000000e-01,1.415000e+01,2.500000e+00
75%,1.000000e+00,3.000000e+00,1.000000e+00,2.360000e+02,2.360000e+02,2.000000e+00,1.350000e+01,2.500000e+00,5.000000e-01,2.750000e+00,0.000000e+00,3.000000e-01,1.930000e+01,2.500000e+00
max,9.000000e+00,2.631633e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,3.984664e+05,8.750000e+00,3.300000e+00,1.140440e+03,8.117500e+02,3.000000e-01,3.984692e+05,3.000000e+00

In [8]:
# Check for missing values
df.isnull().sum()

VendorID                 324518
tpep_pickup_datetime          4
tpep_dropoff_datetime         5
passenger_count          324523
trip_distance                 5
RatecodeID               324523
store_and_fwd_flag       324523
PULocationID                  5
DOLocationID                  5
payment_type             324523
fare_amount                   5
extra                         5
mta_tax                       5
tip_amount                    5
tolls_amount                  5
improvement_surcharge         5
total_amount                  5
congestion_surcharge          5
dtype: int64

In [ ]:
# Drop rows with missing values (if the number of missing values is small)
df = df.dropna()

# # Alternatively, fill the missing values with a suitable strategy
# df['feature_with_missing'] = df['feature_with_missing'].fillna(df['feature_with_missing'].mean())